.nav {
    margin: 0 1em;
    border-radius: 5px;
    background-color: $tech-color;
    box-shadow: inset 2px 2px 10px 1px $shadow-color;

    a {
        font-size: 1.5rem;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 3px solid $accent-color;
    }

    .active a {
        color: $accent-color;
    }
}

.nav:hover {
    background-color: $background-color;
    box-shadow: inset 2px 2px 10px 1px $shadow-color;
}
