html {
    font-size: 100%;
}

body {
    font-family: $font-family-text;
    line-height: 1.3;
    color: $font-color;
}

p {
    font-size: 1em;
    margin-bottom: 1.3rem;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2.5rem 0 1.3rem;
    font-family: $font-familiy-headings;
    font-weight: bold;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
