.main {
    max-width: 65em;
    margin: 0 auto;
    padding: 2rem;

    img {
        border-radius: 5px;
        box-shadow: 2px 2px 5px 1px $color-3-alt;
    }

    a {
        color: $color-1;
    }
}

.me {
    max-width: 20em;
}

img, embed, object, video {
    max-width: 100%;
    display: block;
}