$font-family-text: 'Kanit', sans-serif;
$font-familiy-headings: 'Ubuntu', sans-serif;

$color-0: #fff;
$color-1: #f0a;
$color-2: #332930;
$color-3: #663d58;
$color-4: #993d7a;
$color-5: #cc2996;

$color-1-alt: rgba(255, 0, 170, 1);
$color-2-alt: rgb(27, 22, 26);
$color-3-alt: rgba(102, 61, 88, 1);
$color-4-alt: rgba(153, 61, 122, 1);
$color-5-alt: rgba(204, 41, 150, 0.1);
