.footer {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid $border-color;
    background-color: $accent-color;
    padding: 2rem 4rem;
}

.footer a {
    color: $font-color;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}
