.title, .logo {
    padding: 1em;

    img {
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    
    .title {
        min-width: 50%;
    }
    
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: $font-color;
}

.title p {
    font-style: italic;
}
