$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #f0a;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;
$border-color: #333;

$font-family-text: 'Kanit', sans-serif;
$font-familiy-headings: 'Ubuntu', sans-serif;