{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="gallerymain" role="main">
        <div class="gallerylanding">
            {{ content }}
        </div>
        <h2>A video</h2>
        <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/ZZ5LpwO-An4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
