{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main tech-main" role="main">
        <div class="single-technology">
            <div class="menu">
                <h2>Technologies</h2>
                <ul>
                {% for page in pages("technology") if not page.hidden %}
                    <li{% if page.id==current_page.id %} class="active" {% endif %}>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="article-content">
                {{ content }}
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
