.footer {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -2px 7px 2px $color-4-alt;
    background-color: $color-1-alt;
    padding: 2rem 4rem;
}

.footer a {
    color: $color-2;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}
