$font-family-text: 'Kanit', sans-serif;
$font-familiy-headings: 'Ubuntu', sans-serif;

$color-0: #222;
$color-1: #f09501;
$color-2: rgba(255, 255, 255, 0.932);
$color-3: rgba(255, 255, 255, 0.932);
$color-4: #f09501;
$color-5: #cecece;

$color-1-alt: #444;
$color-2-alt: rgba(255, 255, 255, 0.932);
$color-3-alt: #111;
$color-4-alt: #111;
$color-5-alt: #292929;